
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    /* CSS */
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {

    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .portfolio-img{
        position: relative !important;
        width: 100%;
    }
    .right-section{
        text-align: justify;
        margin-left: 0%;
    }
    .contact{
        text-align: center;
    }
    .opposite-div-section{
        text-align: center;
    }

    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .portfolio-img{
        position: relative !important;
        width: 100%;
        height: auto;
    }
    .right-section{
        text-align: justify;
        margin-left: 0%;
        width: min-content;
    }


    /* CSS */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    .portfolio-img{
        position: relative !important;
        width: 100%;
        height: auto;
    }
    .right-section{
        text-align: justify;
        margin-left: 0%;
        width: auto;
        padding-left: 5%;
    }
    .ports{
        margin-left: -20%;
        flex-direction: column;
        text-align: center;
    }
    .contact{
        text-align: center;
    }
    .left-div, .right-div{
        width: -webkit-fill-available;
        text-align: center;
        padding-left: 0%;
    }
    .OLM{
        text-align: center;
    }


    /* CSS */
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    .portfolio-img{
        position: relative !important;
        width: 100%;
        height: auto;
    }
    .right-section{
        text-align: justify;
        margin-left: 0%;
        width: auto;
        padding-left: 5%;
    }
    .ports{
        flex-direction: column;
        text-align: center;
    }
    .contact{
        text-align: center;
    }
    .left-div, .right-div{
        width: -webkit-fill-available;
        text-align: center;
        padding-left: 0%;
    }
    .OLM{
        text-align: center;
    }
    .form-1, .form-2 {
        width: 100%;
    }
    .top-columns {
        flex-direction: column;
        width: max-content;
    }
    body{
        overflow-x: hidden;
    }
    body > section > h1{
        width: auto;
    }
    body > section > h3{
        width: auto;
    }
    body > section > div:nth-child(18) > h2{
        text-align: center;
    }

    /* CSS */
    
  }