*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Poppins', sans-serif;
}
body > img{
    max-width: 100%;
    width: 45%;
    position: fixed;
    height: -webkit-fill-available;
}
.CV{
    float: right;
    margin: 3%;
    width: auto;
    background-color: black;
    text-align: center;
    height: auto;
    color: aliceblue;
    padding-top: 2%;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    text-decoration: none;
    border-radius: 5%;
}
body > div > a:hover{
    background-color: burlywood;
    color: aliceblue;
    text-decoration-color: #fff;
}
.right-section{
    display: flex;
    float: right;
    width: 50%;
    flex-direction: column;
    padding-left: 0px;
    margin-left: 50%;
    padding-right: 5%;
    padding-top: 10%;

}
h1::before{
    content: "/Multidisciplinary Creative";
    color: burlywood;
    display:block;
    font-size: 15px;
}
h3{
    font-size: 5px;
}
span{
    padding-right: 2%;
    margin: auto;
    text-align: center;
}
section{
    padding-bottom: 10%;
}
/* body > section > div{
   margin-top: 5%;

} */
body > section > div.container > div > div > h2 > a{
    display: none;
}
body > section > div.container > div > div > h2 > a:hover{
    display: block;
    background-color: burlywood;
}
.opposite-div-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 4%;
}
.progress{
    margin-top: 5%;
}
.right-div, .left-div{    
    display: flex;
    flex-direction: column;
}
.left-div{
    width: 100%;
}
.right-div{
    width: 100%;
    margin: auto;
}
div a:hover{
    text-decoration: none;
}
div a{
    text-decoration: none;
    color: #656565;
    padding-left: 2%;
}
div i{
    color: burlywood;
}
.OLM{
    padding-top: 8%;
}
.msg{
    color: #222;
    font-family: poppins,sans-serif;
    font-size: 35px;
    line-height: 44px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -2.1px;
    text-transform: none;
}
.top-columns{
    display: flex;
}
.form{
    padding-top: 5%;    
}
.form-1, .form-2{
    width: 50%;
    padding: 0 10px 0 0;
}
.form-inner{
    background-color: #efefef;
    border: none;
    color: #656565;
    font-family: Poppins;
    font-size: 15px;
    line-height: 33px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0;
    text-transform: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    margin-top: 0;
    margin-bottom: 20px;
    width: 100%;
}
.txt-area{
    background-color: #efefef;
    border-color: #efefef;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: #656565;
    font-family: Poppins;
    font-size: 15px;
    line-height: 33px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0;
    text-transform: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    margin-top: 0;
    margin-bottom: 20px;
}
.submit-btn{
    background-color: #222;
    border: none;
    color: #fff;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -.45px;
    text-transform: none;
    height: 54px;
    line-height: 54px;
    padding: 0 53px;
}
.signature{
    margin-top: -10%;
    z-index: -1;
}
.social{
    margin-top: -10%;
    padding-bottom: 18%;
}
body > section > h2:nth-child(6){
    padding-bottom: 5%;
}
body > section > h2:nth-child(10){
    padding-top: 5%;
}
.ports{
    display: flex;
}
.img1{
    border-color: burlywood;
    height: 150px;
    border-radius: 10%;
    text-align: center;
}
.contact{
    padding-top: 5%;
}